{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
        <h5 class="card-title card-title-left">User</h5>
    </div>
    <div class="card-body">
      {% if mode == "ADD"%}
      <form id="addUserForm">
      {% endif %}
      {% if mode == "EDIT"%}
      <form id="editUserForm">
      {% endif %}
      {% if mode == "VIEW"%}
      <form id="viewUserForm">
      {% endif %}

            <div class="form-group">
              <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>
            </div>

            <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="username" class="form-label-sm">Username</label>
               </div>
                <div class="col-sm-10">
                    {% if mode == 'VIEW' %}
                        <input id=username" name=username type="text"
                                style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                                placeholder="username" value="{{user.username}}" readonly>
                    {% else %} <!- assume ADD OR edit--!>
                        <input id=username name="username" type="text"
                                style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                                placeholder="username" value="{{user.username}}" required
                                oninput="this.value = this.value.replace(/\s/g, '');"
                                onkeydown="if (event.key === ' ') event.preventDefault();" />
                    {% endif %}
                    <span>--> Must be unique in the database!</span>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="initials" class="form-label-sm">Initials</label>
               </div>
                <div class="col-sm-4">
                    {% if mode != 'ADD' %} <!- assume EDIT or VIEW --!>
                        <input id=initials" name=initials type="text"
                                style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                                placeholder="initials" value="{{user.initials}}" readonly>
                    {% else %}  <!- assume ADD --!>
                        <input id=initials name="initials" type="text"
                                style="min-width: 100px; max-width: 100px; text-transform: uppercase;" class="form-control-sm"
                                placeholder="Initials" value="{{user.initials}}" required
                                oninput="this.value = this.value.replace(/\s/g, '');"
                                onkeydown="if (event.key === ' ') event.preventDefault();" />
                    {% endif %}
                </div>
            </div> <!--row-->


            <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="name" class="form-label-sm">Name</label>
               </div>
                <div class="col-sm-4">
                    {% if mode == "VIEW"%}
                        <input id=name" name="name" type="text"
                                style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                                placeholder="Name" value="{{user.name}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <input id=name name="name" type="text"
                                style="min-width: 300px; max-width: 300px;" class="form-control-sm"
                                placeholder="Name" value="{{user.name}}" required>
                    {% endif %}
                </div>
            </div> <!--row-->

             <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="userRole" class="form-label-sm">Role</label>
               </div>
                <div class="col-sm-4">
                    {% if mode == "VIEW"%}
                        <input id="userRole" name="userRole" type="text"
                                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                                placeholder="Role" value="{{user.userRole}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <select id="" name="userRole"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                            <option {% if user.userRole =="TECH" %} selected="selected" {% endif %}>TECH</option>
                            <option {% if user.userRole =="ADMIN" %} selected="selected" {% endif %}>ADMIN</option>
                            <option {% if user.userRole =="DBA" %} selected="selected" {% endif %}>DBA</option>
                        </select>
                    {% endif %}
                </div> <!--col -->
            </div> <!--row-->

             <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="userStatus" class="form-label-sm">Status</label>
               </div>
                <div class="col-sm-4">
                    {% if mode == "VIEW"%}
                        <input id= name="userStatus" type="text"
                                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                                placeholder="Status" value="{{user.userStatus}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <select id="userStatus" name="userStatus"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                            <option {% if user.userStatus =="ACTIVE" %} selected="selected" {% endif %}>ACTIVE</option>
                            <option {% if user.userStatus =="PAUSED" %} selected="selected" {% endif %}>PAUSED</option>
                            <option {% if user.userStatus =="RESIGNED" %} selected="selected" {% endif %}>RESIGNED</option>
                        </select>
                    {% endif %}
                </div> <!--col -->
            </div> <!--row-->

            {% if mode == "ADD"%}
             <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="password" class="form-label-sm">Password</label>
               </div>
                <div class="col-sm-4">
                    <input id=password name="password" type="text"
                        style="min-width: 300px; max-width: 300px;" class="form-control-sm"
                        placeholder="Password" value="" required>
                </div> <!--col -->
            </div> <!--row-->
            {% endif %}

            {% if mode != "ADD"%}
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>&nbsp;Created On:</b> {{user.createdDate}}   <b>By: </b>{{user.createdBy}}
                </div>
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>Updated On:</b> {{user.updatedDate}}   <b>By: </b>{{user.updatedBy}}
                </div>
            </div> <!--row-->
            {% endif %}

            <div class="row g-3 pt-3 pb-3">
                <div class="col-sm-3">
                   {% if mode == "VIEW"%}
                        <button type="submit"
                             class="btn-sm btn-primary btn-thin-sm">Delete</button>
                   {% else %}  <!- assume ADD OR edit--!>
                        <button type="submit"
                            class="btn-sm btn-primary btn-thin-sm">Save</button>
                    {% endif %}

                        <button
                            class="btn-sm btn-primary btn-thin-sm"
                            onclick=window.location.href='/users/user-page' type="button">Back</button>
                </div>
            </div> <!--row-->
      </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div> <!-- container -->
