{% include 'layout.html' %}

<div class="container">
  <div class="card">
     <div class="card-header">
         <h5 class="card-title card-title-left">Asset</h5>
     </div>
     <div class="card-body">
        {% if mode == "ADD"%}
        <form id="addAssetForm">
        {% endif %}
        {% if mode == "EDIT"%}
        <form id="editAssetForm">
        {% endif %}

            <div class="form-group">
              <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>
            </div>

            <div class="row g-5 pt-0">
                <div class="col-sm-3">
                    <label for="majorArea" class="form-label-sm">Major Area</label>
                    <select id="majorArea" name="majorArea"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm mb-1">
                            <option {% if asset.majorArea =="01ST" %} selected="selected" {% endif %}>01ST</option>
                            <option {% if asset.majorArea =="02ND" %} selected="selected" {% endif %}>02ND</option>
                            <option {% if asset.majorArea =="03RD" %} selected="selected" {% endif %}>03RD</option>
                            <option {% if asset.majorArea =="04TH" %} selected="selected" {% endif %}>04TH</option>
                            <option {% if asset.majorArea =="05TH" %} selected="selected" {% endif %}>05TH</option>
                            <option {% if asset.majorArea =="06TH" %} selected="selected" {% endif %}>06TH</option>
                            <option {% if asset.majorArea =="07TH" %} selected="selected" {% endif %}>07TH</option>
                            <option {% if asset.majorArea =="08TH" %} selected="selected" {% endif %}>08TH</option>
                            <option {% if asset.majorArea =="09TH" %} selected="selected" {% endif %}>09TH</option>
                            <option {% if asset.majorArea =="10TH" %} selected="selected" {% endif %}>10TH</option>
                            <option {% if asset.majorArea =="11TH" %} selected="selected" {% endif %}>11TH</option>
                            <option {% if asset.majorArea =="12TH" %} selected="selected" {% endif %}>12TH</option>
                            <option {% if asset.majorArea =="13TH" %} selected="selected" {% endif %}>13TH</option>
                            <option {% if asset.majorArea =="14TH" %} selected="selected" {% endif %}>14TH</option>
                            <option {% if asset.majorArea =="15TH" %} selected="selected" {% endif %}>15TH</option>
                            <option {% if asset.majorArea =="16TH" %} selected="selected" {% endif %}>16TH</option>
                            <option {% if asset.majorArea =="17TH" %} selected="selected" {% endif %}>17TH</option>
                            <option {% if asset.majorArea =="18TH" %} selected="selected" {% endif %}>18TH</option>
                            <option {% if asset.majorArea =="PA" %} selected="selected" {% endif %}>PA</option>
                            <option {% if asset.majorArea =="RANGE" %} selected="selected" {% endif %}>RANGE</option>
                            <option {% if asset.majorArea =="ALL" %} selected="selected" {% endif %}>ALL</option>
                   </select>
                </div>  <!-- col -->

                <div class="col-sm-3">
                    <label for="minorArea" class="form-label-sm">Minor Area</label>
                    <select id="minorArea" name="minorArea"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                        <option {% if asset.minorArea =="TEE" %} selected="selected" {% endif %}>TEE</option>
                        <option {% if asset.minorArea =="FRWY" %} selected="selected" {% endif %}>FRWY</option>
                        <option {% if asset.minorArea =="ROUGH" %} selected="selected" {% endif %}>ROUGH</option>
                        <option {% if asset.minorArea =="GREEN" %} selected="selected" {% endif %}>GREEN</option>
                        <option {% if asset.minorArea =="FIELD" %} selected="selected" {% endif %}>FIELD</option>
                    </select>
                </div>  <!-- col -->

                <div class="col-sm-3">
                    <label for="assetType" class="form-label-sm">Type</label>
                    <select id="assetType" name="assetType"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                        <option {% if asset.assetType =="HEAD" %} selected="selected" {% endif %}>HEAD</option>
                        <option {% if asset.assetType =="GVALVR" %} selected="selected" {% endif %}>GVALVE</option>
                        <option {% if asset.assetTYpe =="AVALVE" %} selected="selected" {% endif %}>AVALVE</option>
                        <option {% if asset.assetType =="MVALVE" %} selected="selected" {% endif %}>MVALVE</option>
                        <option {% if asset.assetType =="SATEL" %} selected="selected" {% endif %}>SATEL</option>
                    </select>
                </div>  <!-- col -->
            </div> <!--row-->

            <div class="row g-3 pt-0">
                <div class="col-sm-10">
                    <label for="description" class="form-label-sm">Asset</label>
                    <input id=description name="description" type="text"
                            style="min-width: 350px; max-width: 350px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.description}}" required>
                </div>  <!-- col -->
            </div> <!--row-->

             <div class="row g-3 pt-1">
                <div class="col-sm-10">
                    <label for="model" class="form-label-sm">Model</label>
                    <select id="model" name="model"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                        <option value="">Choose...</option>
                        <option {% if asset.model =="760" %} selected="selected" {% endif %}>760</option>
                        <option {% if asset.model =="740" %} selected="selected" {% endif %}>740</option>
                    </select>

                    <label for="assetState" class="form-label-sm">State</label>
                    <select id="assetState" name="assetState"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                        <option {% if asset.assetState =="GOOD" %} selected="selected" {% endif %}>Good</option>
                        <option {% if asset.assetState =="BAD" %} selected="selected" {% endif %}>Bad</option>
                    </select>
                </div>  <!-- col -->
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-10">
                    <label for="satellite" class="form-label-sm">Satellite</label>
                    <input id=satellite name="satellite" type="text"
                        style="min-width: 10opx; max-width: 100px;" class="form-control-sm"
                        placeholder="Satellite" value="{{asset.satellite}}">

                    <label for="station" class="form-label-sm">Station</label>
                    <input id=station name="station" type="text"
                        style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                        placeholder="Station" value="{{asset.station}}">
                </div>  <!-- col -->
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-10">
                    <label for="gpslat" class="form-label-sm">Lat:</label>
                    <input name=gpsLat id=gpsLat type="number"
                        style="min-width: 110px; max-width: 110px;" class="form-control-sm"
                        placeholder="Latitude" value="{{asset.gpsLat}}" readonly>

                    <label for="gpslng" class="form-label-sm">Long:</label>
                    <input name=gpsLng id=gpsLng type="number"
                        style="min-width: 110px; max-width: 110px;" class="form-control-sm"
                        placeholder="longitude" value="{{asset.gpsLng}}" readonly>

                        <button name=capture id=capture class="btn-sm btn-primary btn-thin-sm"
                            onclick="getLocation()" type="button">Capture</button>
                </div> <!-- col -->
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <div>
                        <p id="location"></p>
                    </div>
                </div> <!-- col -->
            </div> <!--row-->

            <hr style="border: 1px solid #333; margin: 19px 0px 5px 0px;">

            {% if mode != "ADD"%}
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>&nbsp;Created On:</b> {{asset.createdDate}}   <b>By: </b>{{asset.createdBy}}
                </div> <!-- col -->
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>Updated On:</b> {{asset.updatedDate}}   <b>By: </b>{{asset.updatedBy}}
                </div> <!-- col -->
            </div> <!--row-->
            {% endif %}

            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <button type="submit" class="btn-sm btn-primary btn-thin-sm">Save</button>
                    <button class="btn-sm btn-primary btn-thin-sm"
                            onclick=window.location.href='/assets/asset-page' type="button">Back</button>
                </div> <!-- col -->
            </div> <!--row-->
        </form>
     </div> <!-- card body -->
  </div> <!-- card -->
</div>  <!-- container -->



<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        document.getElementById('gpsLat').value = position.coords.latitude;;
        document.getElementById('gpsLng').value = position.coords.longitude;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }
</script>
