
{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
        <h5 class="card-title card-title-left">Todo {{todo_id}}</h5>
    </div>
    <div class="card-body">
        {% if mode == "ADD"%}
        <form id="addTodoForm">
        {% endif %}
        {% if mode == "EDIT"%}
        <form id="editTodoForm">
        {% endif %}
        {% if mode == "VIEW"%}
        <form id="viewTodoForm">
        {% endif %}

           <div class="form-group">
              <input type="text" class="form-control" name="redirect" value="{{redirect}}" hidden>
              <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>
              <input type="text" class="form-control" name="todo_id" value="{{todo_id}}" hidden>
              <input type="text" class="form-control" name="assetId" value="{{asset.id}}" hidden>
           </div>

           <div class="row g-5 pt-1">

                <div class="col-sm-3">
                    <label for="majorArea"
                        class="form-label-sm">Major Area</label>
                    <input id=majorArea name="majorArea" type="text"
                            style="min-width: 90px; max-width: 150px;" class="form-control-sm"
                            placeholder="Major Area" value="{{asset.majorArea}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="minorArea"
                        class="form-label-sm">Minor Area</label>
                    <input id=minorArea name="MinorArea" type="text"
                            style="min-width: 90px; max-width: 150px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.minorArea}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="assetType"
                        class="form-label-sm">Asset Type</label>
                    <input id=assetType name="assetType" type="text"
                            style="min-width: 90px; max-width: 150px;" class="form-control-sm"
                            placeholder="Asset Type" value="{{asset.assetType}}" readonly>
                </div>

            </div> <!--row-->

            <div class="row g-3 pt-2">
                <div class="col-sm-8">
                    <label for="description" class="form-label-sm">Description</label>
                    <input id=description name="description" type="text"
                            style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.description}}" readonly>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2 pb-2">
                <div class="col-sm-10">
                    <label for="model" class="form-label-sm">Model</label>
                    <input id="model" name="model" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Model" value="{{asset.model}}" readonly>

                    <label for="assetState" class="form-label-sm">State</label>
                    <input id="assetState" name="assetState" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Asset State" value="{{asset.assetState}}" readonly>
                </div>

            </div> <!--row-->

<!------------todo stuff---------------->
            <hr style="border: 3px solid #333;  margin: 5px 0;">

            <div class="row g-3 pt-2">
                <div class="col-sm-8">
                    <label for="title" class="form-label-sm">Todo Title</label>
                    {% if mode == "VIEW"%}
                        <input id=title name="title" type="text"
                                style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                                placeholder="Todo Title" value="{{todo.title}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <input id=title name="title" type="text"
                                style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                                placeholder="Todo Title" value="{{todo.title}}" required>
                    {% endif %}
                </div>
            </div> <!--row-->

<!--
                <div>
                {% for x in users %}
                    {{x.initials}}
                {% endfor %}
                </div>
-->
             <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="assignedTo"
                        class="form-label-sm">AssignedTo</label>
                    {% if mode == "VIEW"%}
                        <input id=assignedTo name="assignedTo" type="text"
                                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                                placeholder="Assigned To" value="{{todo.assignedTo}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <select id="assignedTo" name="assignedTo"
                            style="min-width: 100px; max-width: 100px;" class="form-control-sm">
                            {% for user in users %}
                               <option{% if todo.assignedTo==user.initials %} selected="selected" {% endif %}>{{user.initials}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    <label for="priority"
                        class="form-label-sm">Priority</label>
                    {% if mode == "VIEW"%}
                        <input id=priority name="priority" type="text"
                                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                                placeholder="Priority" value="{{todo.priority}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <select id="priority" name="priority"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                            <option {% if todo.priority =="High" %} selected="selected" {% endif %}>High</option>
                            <option {% if todo.priority =="Medium" %} selected="selected" {% endif %}>Medium</option>
                            <option {% if todo.priority =="Low" %} selected="selected" {% endif %}>Low</option>
                        </select>
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    <label for="todoStatus"
                        class="form-label-sm">Status</label>
                    {% if mode == "VIEW"%}
                        <input id=todoStatus name="todoStatus" type="text"
                                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                                placeholder="Todo Status" value="{{todo.todoStatus}}" readonly>
                    {% else %}  <!- assume ADD OR edit--!>
                        <select id="todoStatus" name="todoStatus"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                            <option {% if todo.todoStatus =="Open" %} selected="selected" {% endif %}>Open</option>
                            <option {% if todo.todoStatus =="Closed" %} selected="selected" {% endif %}>Closed</option>
                            <option {% if todo.todoStatus =="Wip" %} selected="selected" {% endif %}>Wip</option>
                        </select>
                    {% endif %}
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2">
                <div class="col-sm-8">
                    <label for="description" class="form-label-sm">Notes</label>
                    {% if mode == "VIEW"%}
                        <textarea name="description" class="form-control" rows="3" readonly>{{todo.description}}</textarea>
                    {% else %}  <!- assume ADD OR edit--!>
                        <textarea name="description" class="form-control" rows="3">{{todo.description}}</textarea>
                    {% endif %}
                </div>
            </div> <!--row-->

            {% if mode != "ADD"%}
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>&nbsp;Created On:</b> {{todo.createdDate}}   <b>By: </b>{{todo.createdBy}}
                </div>
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>Updated On:</b> {{todo.updatedDate}}   <b>By: </b>{{todo.updatedBy}}
                </div>
            </div> <!--row-->
            {% endif %}

            <div class="row g-3 pt-3 pb-3">
                <div class="col-sm-3">
                    {% if mode == "VIEW"%}
                        {% if currentUser.userRole == 'Admin' %}
                            <button type="submit"
                                class="btn-sm btn-primary btn-thin-sm">Delete</button>
                        {% endif %}
                   {% else %}  <!- assume ADD OR EDIT--!>
                        <button type="submit"
                            class="btn-sm btn-primary btn-thin-sm">Save</button>
                    {% endif %}

                    {% if redirect == "T"%}
                        <button class="btn-sm btn-primary btn-thin-sm"
                            onclick=window.location.href='/todos/todo-list/{{todo_id}}' type="button">Back</button>
                    {% else %}  <!- assume A  -->
                            <button class="btn-sm btn-primary btn-thin-sm"
                                onclick=window.location.href='/assets/view-asset-page/{{asset.id}}' type="button">Back</button>
                    {% endif %}
                </div>
            </div> <!--row-->
      </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div> <!-- container -->
