{% include 'layout.html' %}
<style>
  .addupdatedate-left {
    font-size: x-small;
    text-align: left;
    padding-top: 1px;
  }

  .addupdatedate-right {
    font-size: x-small;
    text-align: left;
    padding-top: 1px;
  }
  .dataheader-right {
    font-size: small;
    text-align: right;
    padding-right: 1px;
  }

  .datafield {
    margin: 3px;              /* Margin outside the border */
    padding-left: 2px;
    font-size: small
  }

  .databutton {
    padding: 0px 3px; /* Custom padding for thinner appearance */
    margin: 0px 10px; /* space around the button */
    font-size: x-small;
    background-color: #007bff;
    color: white;
    border: none; /* Removing default border for a cleaner look */
    border-radius: 3px; /* Optional: Rounded corners for a modern feel */
    cursor: pointer; /* Adds pointer on hover */
    transition: background-color 0.3s ease; /* Smooth background transition */
  }

  .databutton:hover {
    background-color: #0056b3; /* Darker blue on hover for feedback */
  }

  .databutton:focus {
    outline: none; /* Optional: removes focus outline for cleaner look */
    box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5); /* Optional: subtle focus effect */
  }

 .form-control-sm { /* for all the input fields */
    font-size: 12px;  /* Change font size to small */
  }



</style>

<div class="container">
  <div class="card mt-2">
     <div class="card-header p-1">
        <h5 class="card-title card-title-left">Dropdown</h5>
    </div>
    <div class="card-body">
      {% if mode in ["ADD","ADDX"] %}
      <form id="addDropdownForm">
      {% endif %}
      {% if mode == "EDIT"%}
      <form id="editDropdownForm">
      {% endif %}
      {% if mode == "VIEW"%}
      <form id="viewDropdownForm">
      {% endif %}

            <div class="form-group">
              <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>

       <div class="row">
         <div class="col-2 dataheader-right">Column:</div>
         <div class="col-3 datafield">
           {% if mode in ["ADD","EDIT", "VIEW"] %}  <!--column is ready only -->
                <input id="column" name="column" type="text"
                        style="min-width: 150px; max-width: 150px; text-transform: uppercase;" class="form-control-sm"
                        placeholder="Column" value="{{dropdown.column}}" readonly>
           {% else %}  <!- ADDX is for adding a new column from the botton ADD button --!>
                <input id=column name="column" type="text" autocomplete="off"
                        style="min-width: 150px; max-width: 150px;text-transform: uppercase;" class="form-control-sm"
                        placeholder="value" value="{{dropdown.column}}" required
                        oninput="this.value = this.value.replace(/\s/g, '');"
                        onkeydown="if (event.key === ' ') event.preventDefault();" />
                <div><span id="error-column" class="error"></span></div>
             {% endif %}
         </div>  <!-- col -->
       </div> <!--row-->



       <div class="row">
         <div class="col-2 dataheader-right">Value:</div>
         <div class="col-3 datafield">
            {% if mode in ["VIEW", "EDIT"] %} <!--column is ready only once added -->
                <input id=value" name=value type="text"
                        style="min-width: 150px; max-width: 150px;" class="form-control-sm"
                        placeholder="value" value="{{dropdown.value}}" readonly>
            {% else %} <!- assume ADD or ADDX--!>
                <input id=value name="value" type="text" autocomplete="off"
                        style="min-width: 150px; max-width: 150px;text-transform: uppercase;" class="form-control-sm"
                        placeholder="value" value="{{dropdown.value}}" required
                        oninput="this.value = this.value.replace(/\s/g, '');"
                        onkeydown="if (event.key === ' ') event.preventDefault();" />
                <div><span id="error-value" class="error"></span></div>
             {% endif %}
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-2 dataheader-right">Descrip:</div>
         <div class="col-3 datafield">
            {% if mode == "VIEW"%}
                <input id=description name="description" type="text"
                    style="min-width: 300px; max-width: 300px;" class="form-control-sm"
                    placeholder="Dropdown Description" value="{{dropdown.description}}" readonly>
             {% else %}  <!- assume ADD. ADDX OR edit--!>
                <input id=description name="description" type="text"
                    style="min-width: 200px; max-width: 200px;" class="form-control-sm"
                    placeholder="Dropdown Description" value="{{dropdown.description}}" required>
                <div><span id="error-description" class="error"></span></div>
             {% endif %}
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-2 dataheader-right">Order:</div>
         <div class="col-3 datafield">
            {% if mode == "VIEW"%}
                <input id="order" name="order" type="text"
                        style="min-width: 150px; max-width: 150px;" class="form-control-sm"
                        placeholder="Order" value="{{dropdown.order}}" type="number" readonly>
             {% else %}  <!- assume ADD. ADDX OR edit--!>
                <input id="order" name="order" type="text" autocomplete="off"
                        style="min-width: 150px; max-width: 150px;" class="form-control-sm"
                        placeholder="Order" value="{{dropdown.order}}" type="number" required>
                <div><span id="error-order" class="error"></span></div>
             {% endif %}
         </div>  <!-- col -->
       </div> <!--row-->

            {% if dropdown.column == "MAJORAREA"%}
            <div class="row">
               <div class="col-2 dataheader-right">Lat::</div>
               <div class="col-3 datafield">
                  <input name=gpsLat id=gpsLat type="text"
                     style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                     placeholder="Latitude" value="{{dropdown.gpsLat}}" readonly>
                  <span id="error-gpsLat" class="error"></span>
               </div>  <!-- col -->
               <div class="col">
                   <button class="databutton ml-4" type="button"
                     onclick="captureLocation()">Capture</button>
                   <button class="databutton" type="button"
                     onclick="clearLocation()">Clear</button>
                </div>
            </div> <!--row-->

            <div class="row">
               <div class="col-2 dataheader-right">Lng:</div>
               <div class="col-3 datafield">
                  <input name=gpsLng id=gpsLng type="text"
                      style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                      placeholder="longitude" value="{{dropdown.gpsLng}}" readonly>
                  <span id="error-gpsLng" class="error"></span>
               </div>  <!-- col -->
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <div>
                        <p id="location"></p>
                    </div>
                </div> <!-- col -->
            </div> <!--row-->
            {% endif %}

            {% if mode != "ADD"%}
            <div class="row mt-2">
               <div class="col addupdatedate-left">
                 <b>Created: </b>{{dropdown.createdDate}}<b> By: </b>{{dropdown.createdBy}}
               </div>
               <div class="col addupdatedate-right">
                  <b>Updated: </b>{{dropdown.updatedDate}}<b> By: </b>{{dropdown.updatedBy}}
               </div>
             </div>
             {% endif %}

      <!-- dropdown  navigation buttons -->
       <div class="row mt-2 pb-1 gx-0">
          <div class="col d-flex justify-content-end">
            {% if mode == "VIEW" %}
               {% if currentUser.userRole == 'ADMIN' %}
                  <button class="databutton" id="delete" type="submit">Delete</button>
                {% endif %}
            {% else %}  <!- assume ADDX, ADD OR EDIT--!>
               <button class="databutton" id="save" type="submit">Save</button>
            {% endif %}
               <button class="databutton" id="back" type="button"
                    onclick="window.location.href='/dropdown/dropdown-page'">Back</button>
          </div>
       </div> <!--row-->


      </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div> <!-- container -->


<script>

    function clearLocation() {
        document.getElementById('gpsLat').value = null;
        document.getElementById('gpsLng').value = null;
    }

   function captureLocation() {
        if (navigator.geolocation) {
            const options = {
                enableHighAccuracy: true,  // Use high accuracy if available
                timeout: 5000,             // Timeout of 5 seconds for the request
                maximumAge: 0              // Do not allow cached positions
            };
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        const accuracy = position.coords.accuracy;
        if (accuracy < 50 ) {
            document.getElementById('gpsLat').value = position.coords.latitude;;
            document.getElementById('gpsLng').value = position.coords.longitude;
            document.getElementById("location").innerHTML = `GPS accuracy = ${Math.ceil(accuracy)}`;
        }
       else {
            alert(`GPS accuracy is poor.. Not saving values : Accuracy = ${accuracy}`);
            document.getElementById("location").innerHTML = `GPS accuracy is poor.. Not saving values : Accuracy = ${Math.ceil(accuracy)}`;
       }
}

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }

</script>
