{% include 'layout.html' %}
<style>
  .addupdatedate-left {
    font-size: x-small;
    text-align: left;
    padding-top: 1px;
  }

  .addupdatedate-right {
    font-size: x-small;
    text-align: left;
    padding-top: 1px;
  }

  .dataheader-right {
    font-size: small;
    text-align: right;
    padding-right: 1px;
  }

  .form-control-sm { /* for all the input fields */
     font-size: 12px;  /* Change font size to small */
  }

  .datafield {
    margin: 3px;              /* Margin outside the border */
    padding-left: 2px;
    font-size: small
  }

  .datatextarea {
    border: 2px solid black; /* Border color and thickness */
    border-radius: 1px;
    margin: 3px;              /* Margin outside the border */
    padding-left: 2px;
    font-size: small
  }

  .databutton {
    padding: 0px 3px; /* Custom padding for thinner appearance */
    margin: 0px 10px; /* space around the button */
    font-size: x-small;
    background-color: #007bff;
    color: white;
    border: none; /* Removing default border for a cleaner look */
    border-radius: 3px; /* Optional: Rounded corners for a modern feel */
    cursor: pointer; /* Adds pointer on hover */
    transition: background-color 0.3s ease; /* Smooth background transition */
  }

  .databutton:hover {
    background-color: #0056b3; /* Darker blue on hover for feedback */
  }

  .databutton:focus {
    outline: none; /* Optional: removes focus outline for cleaner look */
    box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5); /* Optional: subtle focus effect */
  }

</style>
<div class="container">
  <div class="card mt-2">
     <div class="card-header p-1">
         <h5 class="card-title card-title-left">Asset</h5>
     </div>
    <div class="card-body">
      {% if mode == "ADD"%}
      <form id="addAssetForm">
      {% endif %}
      {% if mode == "EDIT"%}
      <form id="editAssetForm">
      {% endif %}

            <div class="form-group">
              <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>
            </div>

       <div class="row">
          <div class="col-3 dataheader-right">Major:</div>
          <div class="col-3 datafield">
             <select id="majorArea" name="majorArea"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm mb-1">
                {% for ddv in dropdown %}
                  {% if ddv.column == "MAJORAREA" %}
                      {% if ddv.value == asset.majorArea %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Minor:</div>
         <div class="col-3 datafield">
            <select id="minorArea" name="minorArea"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                {% for ddv in dropdown %}
                  {% if ddv.column == "MINORAREA" %}
                      {% if ddv.value == asset.minorArea %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Type:</div>
         <div class="col-3 datafield">
            <select id="assetType" name="assetType"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                {% for ddv in dropdown %}
                  {% if ddv.column == "ASSETTYPE" %}
                      {% if ddv.value == asset.assetType %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Asset:</div>
         <div class="col-3 datafield">
            <input id=description name="description" type="text"
                    style="min-width: 250px; max-width: 300px;" class="form-control-sm"
                    placeholder="Asset Description" value="{{asset.description}}" required>
            <div><span id="error-description" class="error"></span></div>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Model:</div>
         <div class="col-3 datafield">
            <select id="model" name="model"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                <option value="">Choose...</option>
                {% for ddv in dropdown %}
                  {% if ddv.column == "MODEL" %}
                      {% if ddv.value == asset.model %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">State:</div>
         <div class="col-3 datafield">
            <select id="assetState" name="assetState"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                {% for ddv in dropdown %}
                  {% if ddv.column == "ASSETSTATE" %}
                      {% if ddv.value == asset.assetState %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Satellite:</div>
         <div class="col-3 datafield">
            <select id="satellite" name="satellite"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                <option value="">Choose...</option>
                {% for ddv in dropdown %}
                  {% if ddv.column == "SATELLITE" %}
                      {% if ddv.value == asset.satellite %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Station:</div>
         <div class="col-3 datafield">
            <select id="station" name="station"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm">
                <option value="">Choose...</option>
                {% for ddv in dropdown %}
                  {% if ddv.column == "STATION" %}
                      {% if ddv.value == asset.station %}
                         <option value="{{ddv.value}}" selected>{{ddv.value}}</option>
                      {% else %}
                         <option value="{{ddv.value}}">{{ddv.value}}</option>
                      {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Lat::</div>
         <div class="col-3 datafield">
            <input name=gpsLat id=gpsLat type="text"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                placeholder="Latitude" value="{{asset.gpsLat}}" readonly>
            <span id="error-gpsLat" class="error"></span>
         </div>  <!-- col -->
         <div class="col">
              <button class="databutton ml-4" type="button"
                onclick="captureLocation()">Capture</button>
              <button class="databutton" type="button"
                onclick="clearLocation()">Clear</button>
          </div>
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Lng:</div>
         <div class="col-3 datafield">
            <input name=gpsLng id=gpsLng type="text"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                placeholder="longitude" value="{{asset.gpsLng}}" readonly>
            <span id="error-gpsLng" class="error"></span>
         </div>  <!-- col -->
       </div> <!--row-->

       <div class="row">
         <div class="col-3 dataheader-right">Distance:</div>
         <div class="col-3 datafield">
            <input name=distance id=distance type="text"
                style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                placeholder="Distance" value="{{asset.distance}}" readonly>
            <span id="error-distance" class="error"></span>
         </div>  <!-- col -->
         <div class="col">
              <button class="databutton ml-4" type="button"
                onclick="computeDistance(true)">Compute</button>
          </div>
       </div> <!--row-->

       <div class="row g-3 pt-1">
          <div class="col-sm-8">
              <div>
                  <p id="location"></p>
              </div>
          </div> <!-- col -->
       </div> <!--row-->

       {% if mode != "ADD"%}
       <div class="row">
           <div class="col addupdatedate-left">
             <b>Created: </b>{{asset.createdDate}}<b> By: </b>{{asset.createdBy}}
           </div>
           <div class="col addupdatedate-right">
              <b>Updated: </b>{{asset.updatedDate}}<b> By: </b>{{asset.updatedBy}}
           </div>
        </div>
        {% endif %}

      <!-- asset  navigation buttons -->
      <div class="row mt-2 pb-1 gx-0">
         <div class="col d-flex justify-content-end">
            <button class="databutton" id="save" type="submit">Save</button>
            {% if mode == "ADD"%}
               <button class="databutton" id="back" type="button"
                  onclick="window.location.href='/assets/asset-page'">Back</button>
            {% endif %}

           {% if mode == "EDIT"%}
               <button class="databutton" id="back" type="button"
                  onclick=window.location.href='/assets/view-asset-page/{{asset.id}}'>Back</button>
           {% endif %}
         </div>
      </div> <!--row-->


      </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div>  <!-- container -->



<script>
    const majorAreaPosition = {
    {% for ddv in dropdown %}
      {% if ddv.column == "MAJORAREA" %}
          "{{ddv.value}}" : { gpsLat:{% if ddv.gpsLat is none %}null{% else %}{{ddv.gpsLat}}{% endif %},
                    gpsLng: {% if ddv.gpsLng is none %}null{% else %}{{ddv.gpsLng}}{% endif %} },
      {% endif %}
    {% endfor %}
    };

    function clearLocation() {
        document.getElementById('gpsLat').value = null;
        document.getElementById('gpsLng').value = null;
    }

    function captureLocation() {

        if (navigator.geolocation) {
            const options = {
                enableHighAccuracy: true,  // Use high accuracy if available
                timeout: 5000,             // Timeout of 5 seconds for the request
                maximumAge: 0              // Do not allow cached positions
            };

            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function computeDistance(showErrors) {

        let assetGpsLat=document.getElementById('gpsLat').value;
        if (!assetGpsLat) {
           if (showErrors)
                document.getElementById("location").innerHTML = "GPS Latitude missing.";
           return;
        }

        let assetGpsLng=document.getElementById('gpsLng').value;
        if (!assetGpsLng) {
           if (showErrors)
              document.getElementById("location").innerHTML = "GPS Longitude missing.";
           return;
        }

        let majorArea=document.getElementById('majorArea').value;
        let majorAreaGpsLat = majorAreaPosition[majorArea].gpsLat;
        let majorAreaGpsLng = majorAreaPosition[majorArea].gpsLng;

        if (!majorAreaGpsLat) {
           if (showErrors)
               document.getElementById("location").innerHTML = "MajorArea GPS Latitude missing.";
           return;
        }

        if (!majorAreaGpsLng) {
           if (showErrors)
               document.getElementById("location").innerHTML = "MajorArea GPS Longitude missing.";
           return;
        }
        distanceK =  haversine(majorAreaGpsLat, majorAreaGpsLng, assetGpsLat, assetGpsLng);
        distanceYards =  Math.floor(distanceK * 1093.613298);
        distanceFt =  Math.floor(distanceK * 3280.84);
        //alert(`A: ${assetGpsLat} : ${assetGpsLng} M:${majorAreaGpsLat} : ${majorAreaGpsLng} D:${distanceYards}`);
        document.getElementById('distance').value = distanceYards;
    }

    function showPosition(position) {
        const accuracy = position.coords.accuracy;
        if (accuracy < 50 ) {
            document.getElementById("location").innerHTML = `GPS accuracy = ${Math.ceil(accuracy)}`;
            document.getElementById('gpsLat').value = position.coords.latitude;;
            document.getElementById('gpsLng').value = position.coords.longitude;
        }
       else {
            //alert(`GPS accuracy is poor.. Not saving values : Accuracy = ${accuracy}`);
            document.getElementById("location").innerHTML = `GPS accuracy is poor.. Not saving values : Accuracy = ${Math.ceil(accuracy)}`;
       }

    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }

    function haversine(lat1, lon1, lat2, lon2) {
        // Radius of the Earth in kilometers
        const R = 6371;

        // Convert latitude and longitude from degrees to radians
        const phi1 = lat1 * Math.PI / 180;
        const phi2 = lat2 * Math.PI / 180;
        const deltaPhi = (lat2 - lat1) * Math.PI / 180;
        const deltaLambda = (lon2 - lon1) * Math.PI / 180;

        // Haversine formula
        const a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +
                  Math.cos(phi1) * Math.cos(phi2) *
                  Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

        // Distance in kilometers
        const distance = R * c;

        return distance;
    }
</script>
