{% include 'layout.html' %}

<div class="container">
  <div class="card">
     <div class="card-header">
         <h5 class="card-title card-title-left">Asset</h5>
     </div>
     <div class="card-body">
        {% if mode == "ADD"%}
        <form id="addAssetForm">
        {% endif %}
        {% if mode == "EDIT"%}
        <form id="editAssetForm">
        {% endif %}


            <div class="form-group">
              <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>
            </div>

            <div class="row g-5 pt-0">
                <div class="col-sm-3">
                    <label for="majorArea"
                        class="form-label-sm">Major Area</label>
                        <select id="majorArea" name="majorArea"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm mb-1">
            <option {% if asset.majorArea =="1st" %} selected="selected" {% endif %}>1st</option>
            <option {% if asset.majorArea =="2nd" %} selected="selected" {% endif %}>2nd</option>
            <option {% if asset.majorArea =="3rd" %} selected="selected" {% endif %}>3rd</option>
            <option {% if asset.majorArea =="17th" %} selected="selected" {% endif %}>17th</option>
            <option {% if asset.majorArea =="18th" %} selected="selected" {% endif %}>18th</option>
            <option {% if asset.majorArea =="Range" %} selected="selected" {% endif %}>Range</option>
            <option {% if asset.majorArea =="Practice" %} selected="selected" {% endif %}>Practice</option>
            <option {% if asset.majorArea =="ClubHouse" %} selected="selected" {% endif %}>clubHouse</option>
                      </select>
                     <div class="invalid-feedback"
                        Valid Major Area is required>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="minorArea"
                        class="form-label-sm">Minor Area</label>
                        <select id="minorArea" name="minorArea"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option {% if asset.minorArea =="Tee" %} selected="selected" {% endif %}>Tee</option>
            <option {% if asset.minorArea =="Fairway" %} selected="selected" {% endif %}>Fairway</option>
            <option {% if asset.minorArea =="Rough" %} selected="selected" {% endif %}>Rough</option>
            <option {% if asset.minorArea =="Green" %} selected="selected" {% endif %}>Green</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Minor Area is required>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="assetType"
                        class="form-label-sm">Type</label>
                        <select id="assetType" name="assetType"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option {% if asset.assetType =="Head" %} selected="selected" {% endif %}>Head</option>
            <option {% if asset.assetType =="GroupValve" %} selected="selected" {% endif %}>GroupValve</option>
            <option {% if asset.assetTYpe =="AreaValve" %} selected="selected" {% endif %}>AreaValve</option>
            <option {% if asset.assetType =="MainValve" %} selected="selected" {% endif %}>MainValve</option>
            <option {% if asset.assetType =="Satellite" %} selected="selected" {% endif %}>Satellite</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Asset Type is required>
                    </div>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-0">
                <div class="col-sm-8">
                    <label for="description" class="form-label-sm">Description</label>
                    <input id=description name="description" type="text"
                            style="min-width: 400px; max-width: 400px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.description}}" required>
                    <div class="invalid-feedback"> Valid Description is required</div>
                </div>
            </div> <!--row-->

             <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="model"
                        class="form-label-sm">Model</label>
                        <select id="model" name="model"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option value="">Choose...</option>
            <option {% if asset.model =="760" %} selected="selected" {% endif %}>760</option>
            <option {% if asset.model =="740" %} selected="selected" {% endif %}>740</option>
                        </select>
                </div>

                <div class="col-sm-3">
                    <label for="assetState"
                        class="form-label-sm">State</label>
                        <select id="assetState" name="assetState"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option {% if asset.assetState =="Good" %} selected="selected" {% endif %}>Good</option>
            <option {% if asset.assetState =="Bad" %} selected="selected" {% endif %}>Bad</option>
            <option {% if asset.assetState =="Unknown" %} selected="selected" {% endif %}>Unknown</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Asset State is required>
                    </div>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="satellite"
                        class="form-label-sm">Satellite</label>
                        <input id=satellite name="satellite" type="text"
                            style="min-width: 10opx; max-width: 100px;" class="form-control-sm"
                            placeholder="Satellite" value="{{asset.satellite}}">
                </div>

                <div class="col-sm-3">
                    <label for="station" class="form-label-sm">Station</label>
                        <input id=station name="station" type="text"
                            style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                            placeholder="Station" value="{{asset.station}}">

                </div>
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="gpslat" class="form-label-sm">Latitude</label>
                    <input name=gpsLat id=gpsLat type="number"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                        placeholder="Latitude" value="{{asset.gpsLat}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="gpslng" class="form-label-sm">Longitude</label>
                    <input name=gpsLng id=gpsLng type="number"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                        placeholder="longitude" value="{{asset.gpsLng}}" readonly>
                </div>
                <div class="col-sm-6">
                    <label for="capture" class="form-label-sm">&nbsp;</label>
                    <div>
                        <button name=capture id=capture class="btn-sm btn-primary btn-thin-sm"
                            onclick="getLocation()" type="button">Capture</button>
                    </div>
                </div> <!-- col -->
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <div>
                        <p id="location"></p>
                    </div>
                </div> <!-- col -->
            </div> <!--row-->

            <hr style="border: 1px solid #333; margin: 19px 0px 5px 0px;">

            {% if mode != "ADD"%}
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>&nbsp;Created On:</b> {{asset.createdDate}}   <b>By: </b>{{asset.createdBy}}
                </div>
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-8">
                    <b>Updated On:</b> {{asset.updatedDate}}   <b>By: </b>{{asset.updatedBy}}
                </div>
            </div> <!--row-->
            {% endif %}

            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <button type="submit" class="btn-sm btn-primary btn-thin-sm">Save</button>
                    <button class="btn-sm btn-primary btn-thin-sm"
                            onclick=window.location.href='/assets/asset-page' type="button">Back</button>
                </div>
            </div> <!--row-->
        </form>
     </div> <!-- card body -->
  </div> <!-- card -->
</div>  <!-- container -->



<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        document.getElementById('gpsLat').value = position.coords.latitude;;
        document.getElementById('gpsLng').value = position.coords.longitude;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }
</script>
