{% include 'layout.html' %}

<div class="containe-sm">
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title card-title-left">Asset</h5>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Major</th>
                        <th scope="col">Minor</th>
                        <th scope="col">Type</th>
                        <th scope="col">State</th>
                    </tr>
                    <tr class="bottom-border">
                        <th scope="col">
                            <div class="major-filter">
                              <select id=major-filter class="majorArea" onchange="majorChangeEventHandler(event);">
                                <option data-area="01ST">01ST</option>
                                <option data-area="02ND">02ND</option>
                                <option data-area="03RD">03RD</option>
                                <option data-area="04TH">04TH</option>
                                <option data-area="05TH">05TH</option>
                                <option data-area="06TH">06TH</option>
                                <option data-area="07TH">07TH</option>
                                <option data-area="08TH">08TH</option>
                                <option data-area="09TH">09TH</option>
                                <option data-area="10TH">10TH</option>
                                <option data-area="11TH">11TH</option>
                                <option data-area="12TH">12TH</option>
                                <option data-area="13TH">13TH</option>
                                <option data-area="14TH">14TH</option>
                                <option data-area="15TH">15TH</option>
                                <option data-area="16TH">16TH</option>
                                <option data-area="17TH">17TH</option>
                                <option data-area="18TH">18TH</option>
                                <option data-area="PA">PA</option>
                                <option data-area="RANGE">RANGE</option>
                                <option data-area="ALL">ALL</option>
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="minor-filter">
                              <select id=majorFilter class="minorArea" onchange="minorChangeEventHandler(event);">
                                <option data-area="ALL">ALL</option>
                                <option data-area="TEE">TEE</option>
                                <option data-area="FRWY">FRWY</option>
                                <option data-area="ROUGH">ROUGH</option>
                                <option data-area="GREEN">GREEN</option>
                                <option data-area="FIELD">FIELD</option>
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="type-filter">
                              <select id=typeFilter class="assetType" onchange="typeChangeEventHandler(event);">
                                <option data-area="ALL">ALL</option>
                                <option data-area="EAD">HEAD</option>
                                <option data-area="GVALVE">GVALVE</option>
                                <option data-area="AVALVE">AVALVE</option>
                                <option data-area="MVALVE">MVALVE</option>
                                <option data-area="SATEL">SATEL</option>
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="stateFilter">
                              <select id=stateFilter class="assetState" onchange="stateChangeEventHandler(event);">
                                <option data-area="ALL">ALL</option>
                                <option data-area="GOOD">GOOD</option>
                                <option data-area="BAD">BAD</option>
                              </select>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for asset in assets %}
                <tr data-id="{{asset.id}}" class="group-{{asset.id}}" >
                    <td>{{asset.majorArea}}</td>
                    <td>{{asset.minorArea}}</td>
                    <td>{{asset.assetType}}</td>
                    <td>{{asset.assetState}}</td>
                </tr>
                <tr data-id="{{asset.id}}" class="group-{{asset.id}} bottom-border">
                    <td colspan="2" class="td150"><b>Desc:</b> {{asset.description}}</td>
                    <td>{{asset.satellite}}/{{asset.station}}</td>
                    <td>
                        <button class="btn-sm btn-primary btn-thin-sm"
                                 onclick="window.location.href='view-asset-page/{{asset.id}}'"
                                type="button">View</button>
                        <button class="btn-sm btn-primary btn-thin-sm"
                                onclick="window.location.href='edit-asset-page/{{asset.id}}'"
                                type="button">Edit</button>

                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <button class="btn-sm btn-primary btn-thin-sm"
                             onclick="window.location.href='add-asset-page'" type="button">Add</button>
                    </td>
                </tr>
               </tbody>
            </table>


             <script type="text/javascript">
                  function majorChangeEventHandler(event) {
                    if (getCookie("majorAreaFilter") != event.target.value) {
                        document.cookie = `majorAreaFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function minorChangeEventHandler(event) {
                    if (getCookie("minorAreaFilter") != event.target.value) {
                        document.cookie = `minorAreaFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function typeChangeEventHandler(event) {
                    if (getCookie("assetTypeFilter") != event.target.value) {
                        document.cookie = `assetTypeFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function stateChangeEventHandler(event) {
                    if (getCookie("assetStateFilter") != event.target.value) {
                        document.cookie = `assetStateFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    // majorArea
    filter = getCookie("majorAreaFilter")
    select = document.querySelector(".majorArea");
    options = document.querySelectorAll(".majorArea option");
    if (filter) {
       for(const option of options) {
           const area = option.dataset.area;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    //minorArea
    filter = getCookie("minorAreaFilter")
    select = document.querySelector(".minorArea");
    options = document.querySelectorAll(".minorArea option");
    if (filter) {
       for(const option of options) {
           const area = option.dataset.area;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    //assetType
    filter = getCookie("assetTypeFilter")
    select = document.querySelector(".assetType");
    options = document.querySelectorAll(".assetType option");
    if (filter) {
       for(const option of options) {
           const area = option.dataset.area;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }

    //assetState
    filter = getCookie("assetStateFilter")
    select = document.querySelector(".assetState");
    options = document.querySelectorAll(".assetState option");
    if (filter) {
       for(const option of options) {
           const area = option.dataset.area;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }

    // Add hover effect for row groups
    document.querySelectorAll('tr').forEach(row => {
      row.addEventListener('mouseenter', () => {
        const groupClass = Array.from(row.classList).find(cls => cls.startsWith('group-'));
        if (groupClass) {
          document.querySelectorAll(`.${groupClass}`).forEach(groupRow => {
            groupRow.classList.add('hover-highlight');
          });
        }
      });

      row.addEventListener('mouseleave', () => {
        const groupClass = Array.from(row.classList).find(cls => cls.startsWith('group-'));
        if (groupClass) {
          document.querySelectorAll(`.${groupClass}`).forEach(groupRow => {
            groupRow.classList.remove('hover-highlight');
          });
        }
      });

    });

</script>


<!--
      const id = row.dataset.id;
      if (id) {
          row.addEventListener('click', () => {
            //alert(`Asset ID: ${id}`);
            window.location.href = `view-asset-page/${id}`;
          });
      }
-->



