{% include 'layout.html' %}

<div class="container">
  <div class="card">
     <div class="card-header">
         <h5 class="card-title card-title-left">Asset</h5>
     </div>
     <div class="card-body">
        <form id="editAssetForm">
            <div class="row g-5 pt-0">
                <div class="col-sm-3">
                    <label for="majorArea"
                        class="form-label-sm">Major Area</label>
                        <select id="majorArea" name="majorArea"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm mb-1">
            <option {% if asset.majorArea =="1st" %} selected="selected" {% endif %}>1st</option>
            <option {% if asset.majorArea =="2nd" %} selected="selected" {% endif %}>2nd</option>
            <option {% if asset.majorArea =="3rd" %} selected="selected" {% endif %}>3rd</option>
            <option {% if asset.majorArea =="17th" %} selected="selected" {% endif %}>17th</option>
            <option {% if asset.majorArea =="18th" %} selected="selected" {% endif %}>18th</option>
            <option {% if asset.majorArea =="Range" %} selected="selected" {% endif %}>Range</option>
            <option {% if asset.majorArea =="Practice" %} selected="selected" {% endif %}>Practice</option>
            <option {% if asset.majorArea =="ClubHouse" %} selected="selected" {% endif %}>clubHouse</option>
                      </select>
                     <div class="invalid-feedback"
                        Valid Major Area is required>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="minorArea"
                        class="form-label-sm">Minor Area</label>
                        <select id="minorArea" name="minorArea"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option {% if asset.minorArea =="Tee" %} selected="selected" {% endif %}>Tee</option>
            <option {% if asset.minorArea =="Fairway" %} selected="selected" {% endif %}>Fairway</option>
            <option {% if asset.minorArea =="Rough" %} selected="selected" {% endif %}>Rough</option>
            <option {% if asset.minorArea =="Green" %} selected="selected" {% endif %}>Green</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Minor Area is required>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="assetType"
                        class="form-label-sm">Type</label>
                        <select id="assetType" name="assetType"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option {% if asset.assetType =="Head" %} selected="selected" {% endif %}>Head</option>
            <option {% if asset.assetType =="GroupValve" %} selected="selected" {% endif %}>GroupValve</option>
            <option {% if asset.assetTYpe =="AreaValve" %} selected="selected" {% endif %}>AreaValve</option>
            <option {% if asset.assetType =="MainValve" %} selected="selected" {% endif %}>MainValve</option>
            <option {% if asset.assetType =="Satellite" %} selected="selected" {% endif %}>Satellite</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Asset Type is required>
                    </div>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-0">
                <div class="col-sm-8">
                    <label for="description" class="form-label-sm">Description</label>
                    <input id=description name="description" type="text"
                            style="min-width: 400px; max-width: 400px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.description}}" required>
                    <div class="invalid-feedback"> Valid FirstName is required</div>
                </div>
            </div> <!--row-->

             <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="microArea"
                        class="form-label-sm">Model</label>
                        <select id="microArea" name="microArea"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option value="">Choose...</option>
            <option {% if asset.microArea =="760" %} selected="selected" {% endif %}>760</option>
            <option {% if asset.microArea =="740" %} selected="selected" {% endif %}>740</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Micro Area is required>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="assetState"
                        class="form-label-sm">State</label>
                        <select id="assetState" name="assetState"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm">
            <option {% if asset.assetState =="Good" %} selected="selected" {% endif %}>Good</option>
            <option {% if asset.assetState =="Bad" %} selected="selected" {% endif %}>Bad</option>
            <option {% if asset.assetState =="Unknown" %} selected="selected" {% endif %}>Unknown</option>
                        </select>
                     <div class="invalid-feedback"
                        Valid Asset State is required>
                    </div>
                </div>

            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="gpslat" class="form-label-sm">Latitude</label>
                    <input id=gpsLat type="text"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                        placeholder="GPS Lat" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="gpslong" class="form-label-sm">Longitude</label>
                    <input id=gpsLong type="text"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                        placeholder="GPS Long" readonly>
                </div>

            </div> <!--row-->


            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <label for="addedDate" class="form-label-sm">Added On</label>
                    <input id=addedDate type="date"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="updatedDate" class="form-label-sm">Updated On</label>
                    <input id=updatedDate type="date"
                        style="min-width: 125px; max-width: 125px;" class="form-control-sm" readonly>
                </div>
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary"> Save </button>
                    <a href="/assets/asset-page" class="btn btn-success">Back</a>
                </div>
            </div> <!--row-->

        </form>
     </div> <!-- card body -->
  </div> <!-- card -->
</div>  <!-- container -->
