<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <title>AssetMgt</title>
</head>
<body>

  {% include 'navbar.html' %}

  {% block content %}

  {% endblock %}

    <!--always at the bottom of the body to have it load last  -->
    <script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='/js/base.js?n=1') }}" defer></script>  <!-- defer = to last to load removed ?n=1 in production-->
</body>
</html>