{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
        <h5 class="card-title card-title-left">Locate Asset</h5>
    </div>
    <div class="card-body">
        <form id="locatedAssetForm">

           <div class="row g-5 pt-0">
                <div class="col-sm-3">
                    <label for="majorArea"
                        class="form-label-sm">Major Area</label>
                    <input id=majorArea name="majorArea" type="text"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                            placeholder="Major Area" value="{{asset.majorArea}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="minorArea"
                        class="form-label-sm">Minor Area</label>
                    <input id=minorArea name="MinorArea" type="text"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.minorArea}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="assetType"
                        class="form-label-sm">Asset Type</label>
                    <input id=assetType name="assetType" type="text"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                            placeholder="Asset Type" value="{{asset.assetType}}" readonly>
                </div>
            </div> <!--row-->
            <div class="row g-3 pt-2">
                <div class="col-sm-10">
                    <label for="description" class="form-label-sm">Asset</label>
                    <input id=description name="description" type="text"
                            style="min-width: 300px; max-width: 3000px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.description}}" readonly>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2 pb-1">
                <div class="col-sm-10">
                    <label for="model" class="form-label-sm">Model</label>
                    <input id="model" name="model" type="text"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                            placeholder="Model" value="{{asset.model}}" readonly>

                    <label for="assetState" class="form-label-sm">State</label>
                    <input id="assetState" name="assetState" type="text"
                            style="min-width: 125px; max-width: 125px;" class="form-control-sm"
                            placeholder="Asset State" value="{{asset.assetState}}" readonly>
                </div>
            </div> <!--row-->


            <div class="row g-3 pt-1">
                <div class="col-sm-10">
                    <label for="satellite"
                        class="form-label-sm">Satellite</label>
                        <input id=satellite name="satellite" type="text"
                            style="min-width: 10opx; max-width: 100px;" class="form-control-sm"
                            placeholder="Satellite" value="{{asset.satellite}}" readonly>

                    <label for="station" class="form-label-sm">Station</label>
                        <input id=station name="station" type="text"
                            style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                            placeholder="Station" value="{{asset.station}}" readonly>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-1">
                <div class="col-sm-10">
                    <label for="gpsLat" class="form-label-sm">Lat:</label>
                    <input name=gpsLat id=gpsLat type="number"
                        style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                        placeholder="Latitude" value="{{asset.gpsLat}}" readonly>

                    <label for="gpsLng" class="form-label-sm">Long:</label>
                    <input name=gpsLng id=gpsLng type="number"
                        style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                        placeholder="longitude" value="{{asset.gpsLng}}" readonly>
                </div> <!-- col -->
            </div> <!--row-->
            <div class="row g-3 pt-1">
                <div class="col-sm-10">
                    <label for="distance" class="form-label-sm">Distance to Major Area</label>
                    <input name=distance id=distance type="number"
                        style="min-width: 100px; max-width: 100px;" class="form-control-sm"
                        placeholder="Distance" value="{{asset.distance}}" readonly>
                    <span id="error-distance" class="error"></span>
                </div>  <!-- col -->
            </div> <!--row-->

            <div class="row g-1 pt-1">
                <div class="col-sm-8">
                    <div>
                        <p id="location"></p>
                    </div>
                </div> <!-- col -->
            </div> <!--row-->


            <div class="card-header pt-2">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                    Your Position
                    {% if asset.gpsLat and asset.gpsLat %}
                        <button name=locate id=locate class="btn-sm btn-primary btn-thin-sm"
                            onclick="computeDistance()" type="button">Compute Distance Away</button>
                    {% endif %}
                </h5>
            </div>

            <div class="row g-3 pt-0">
                <div class="col-sm-10">
                    <div class="position-list">
                        <table id="historyTable" border=1 class="table table-sm table-striped">
                            <thead class="padding: 1px;">
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Lat</th>
                                    <th scope="col">Long</th>
                                    <th scope="col">Asset</th>
                                    <th scope="col">Major</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                     </div> <!-- todo_list -->
                </div> <!-- col -->
            </div> <!-- row -->

            <div class="row g-1 pt-1">
             <div class="col-sm-10">
                <div class="locate-actions">
                    <button class="btn-sm btn-primary btn-thin-sm"
                             onclick="window.location.href='/assets/view-asset-page/{{asset.id}}'"
                            type="button">Back</button>
                </div>
             </div> <!-- col -->
            </div> <!-- row -->

        </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div> <!-- container -->

<script>
    const majorAreaPosition = {
    {% for ddv in dropdown %}
      {% if ddv.column == "MAJORAREA" %}
          "{{ddv.value}}" : { gpsLat:{% if ddv.gpsLat is none %}null{% else %}{{ddv.gpsLat}}{% endif %},
                    gpsLng: {% if ddv.gpsLng is none %}null{% else %}{{ddv.gpsLng}}{% endif %} },
      {% endif %}
    {% endfor %}
    };

    function computeDistance() {
        if (navigator.geolocation) {
            const options = {
                enableHighAccuracy: true,  // Use high accuracy if available
                timeout: 5000,             // Timeout of 5 seconds for the request
                maximumAge: 0              // Do not allow cached positions
            };

            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        const accuracy = position.coords.accuracy;
        if (accuracy > 50 ) {
            document.getElementById("location").innerHTML = `GPS accuracy is poor: Accuracy = ${Math.ceil(accuracy)}`;
       }
       else {
            document.getElementById("location").innerHTML = `GPS accuracy = ${Math.ceil(accuracy)}`;
       }

        let currentDate = new Date();
        // Get the hours, minutes, and seconds
        let hours = currentDate.getHours();  // Get hours (0-23)
        let minutes = currentDate.getMinutes();  // Get minutes (0-59)

        // Format the time as HH:MM:SS
        let time = hours + ":" + (minutes < 10 ? "0" + minutes : minutes);

        currentGpsLat = position.coords.latitude;
        currentGpsLng = position.coords.longitude;

        assetGpsLat = document.getElementById('gpsLat').value;
        assetGpsLng = document.getElementById('gpsLng').value;

        distanceK =  haversine(currentGpsLat, currentGpsLng, assetGpsLat, assetGpsLng);
        distanceYards =  Math.floor(distanceK * 1093.613298);

        let majorArea=document.getElementById('majorArea').value;
        let majorAreaGpsLat = majorAreaPosition[majorArea].gpsLat;
        let majorAreaGpsLng = majorAreaPosition[majorArea].gpsLng;

        if (majorAreaGpsLat && majorAreaGpsLng) {
            majorAreaDistanceK =  haversine(currentGpsLat, currentGpsLng, assetGpsLat, assetGpsLng);
            majorAreaDistanceYards =  Math.floor(majorAreaDistanceK * 1093.613298);
        }

        let table = document.getElementById('historyTable').getElementsByTagName('tbody')[0];
        let newRow = table.insertRow(0);
        let cell0 = newRow.insertCell(0);
        let cell1 = newRow.insertCell(1);
        let cell2 = newRow.insertCell(2);
        let cell3 = newRow.insertCell(3);
        let cell4 = newRow.insertCell(4);

        cell0.innerHTML = time;
        cell1.innerHTML = currentGpsLat.toFixed(4);
        cell2.innerHTML = currentGpsLng.toFixed(4);
        cell3.innerHTML = distanceYards;
        if (majorAreaGpsLat && majorAreaGpsLng)
            cell4.innerHTML = majorAreaDistanceYards;
        else
            cell4.innerHTML = "NA";

    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                alert("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }

    function haversine(lat1, lon1, lat2, lon2) {
        // Radius of the Earth in kilometers
        const R = 6371;

        // Convert latitude and longitude from degrees to radians
        const phi1 = lat1 * Math.PI / 180;
        const phi2 = lat2 * Math.PI / 180;
        const deltaPhi = (lat2 - lat1) * Math.PI / 180;
        const deltaLambda = (lon2 - lon1) * Math.PI / 180;

        // Haversine formula
        const a = Math.sin(deltaPhi / 2) * Math.sin(deltaPhi / 2) +
                  Math.cos(phi1) * Math.cos(phi2) *
                  Math.sin(deltaLambda / 2) * Math.sin(deltaLambda / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

        // Distance in kilometers
        const distance = R * c;

        return distance;
    }
</script>
