<div>
  <nav class="navbar navbar-expand-sm navbar-dark main-color fixed-top p-0">
    <a class="navbar-brand" href="#">Asset Management (V.09)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-5" id="navbarNav">
      <ul class="navbar-nav">
   {% if currentUser %}
        <li class="nav-item active">
          <a class="nav-link p-1" href="/assets/asset-page">Assets</a>
        </li>
        <li class="nav-item active">
          <!-- pass 0 to clear the active row -->
          <a class="nav-link p-1" href="/todos/todo-list/0">Todos</a>
        </li>
     {% if currentUser.userRole == 'ADMIN' %}
        <li class="nav-item active">
          <a class="nav-link p-1" href="/users/user-page">Users</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link p-1" href="/dropdown/dropdown-page">Dropdown</a>
        </li>
     {% endif %} <!-- is ADMIN -->
        <li class="nav-item active">
          <a class="nav-link p-1" onclick="logout()">Logout</a>
        </li>
   {% endif %} <!--currentUser -->
      </ul>
    </div>
  </nav>
</div>






