{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
        <h5 class="card-title card-title-left">Change User's Password</h5>
    </div>
    <div class="card-body">
      <form id="passwordUserForm">

            <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="Name" class="form-label-sm">Name</label>
               </div>
                <div class="col-sm-4">
                      <input id=name name="name" type="text"
                              style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                              placeholder="Name" value="{{user.name}}" readonly>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="username" class="form-label-sm">Username</label>
               </div>
                <div class="col-sm-4">
                      <input id=username name="username" type="text"
                              style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                              placeholder="username" value="{{user.username}}" readonly>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="initials" class="form-label-sm">Initials</label>
               </div>
                <div class="col-sm-4">
                      <input id=initials name="initials" type="text"
                              style="min-width: 150px; max-width: 150px;" class="form-control-sm"
                              placeholder="initials" value="{{user.initials}}" readonly>
                </div>
            </div> <!--row-->

             <div class="row g-3 pt-2">
                <div class="col-sm-2">
                    <label for="password" class="form-label-sm">Password</label>
               </div>
                <div class="col-sm-10">
                    <input id=password name="password" type="text"
                        style="min-width: 150px; max-width: 100px;" class="form-control-sm"
                        placeholder="Password" value="" required>
                    <div><span id="error-password" class="error"></span></div>
                </div> <!--col -->
            </div> <!--row-->

            <div class="row g-3 pt-3 pb-3">
                <div class="col-sm-3">
                    <button type="submit"
                        class="btn-sm btn-primary btn-thin-sm">Save</button>

                    <button
                        class="btn-sm btn-primary btn-thin-sm"
                        onclick=window.location.href='/users/user-page' type="button">Back</button>
                </div>
            </div> <!--row-->

      </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div> <!-- container -->
