{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header p-2">
            <h5 class="card-title d-flex justify-content-between align-items-center">
                Todos

                <button class="btn btn-sm btn-primary btn-thin-sm"
                     onclick="window.location.href='/todos/todo-report-page'" type="button">Report</button>
            </h5>
        </div>
        <div class="card-body">
            <table class="table table-sm">

                <thead>
                    <tr>
                        <th scope="col">Who</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Major</th>
                        <th scope="col">Minor</th>
                        <th scope="col">Type</th>
                    </tr>
                    <tr>
                        <th scope="col">
                            <div class="assignedTo">
                              <select id=assignedToFilter class="assignedTo" onchange="assignedToChangeEventHandler(event);">
                                <option value="ALL">ALL</option>
                                {% for user in users %}
                                   <option value={{user.initials}}>{{user.initials}}</option>
                                {% endfor %}
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="todoStatus">
                              <select id=todoStatusFilter class="todoStatus" onchange="todoStatusChangeEventHandler(event);">
                                <option value="ALL">ALL</option>
                                {% for ddv in dropdown %}
                                  {% if ddv.column == "TODOSTATUS" %}
                                     <option value="{{ddv.value}}">{{ddv.value}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="priority">
                              <select id=todoPriorityFilter class="priority" onchange="priorityChangeEventHandler(event);">
                                <option value="ALL">ALL</option>
                                {% for ddv in dropdown %}
                                  {% if ddv.column == "TODOPRIORITY" %}
                                     <option value="{{ddv.value}}">{{ddv.value}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="major-filter">
                              <select id=assetMajorFilter class="majorArea" onchange="majorChangeEventHandler(event);">
                                <option value="ALL">ALL</option>
                                {% for ddv in dropdown %}
                                  {% if ddv.column == "MAJORAREA" %}
                                     <option value="{{ddv.value}}">{{ddv.value}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="minor-filter">
                              <select id=assetMinorFilter class="minorArea" onchange="minorChangeEventHandler(event);">
                                <option value="ALL">ALL</option>
                                {% for ddv in dropdown %}
                                  {% if ddv.column == "MINORAREA" %}
                                     <option value="{{ddv.value}}">{{ddv.value}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="minor-filter">
                              <select id=assetTypeFilter class="assetType" onchange="typeChangeEventHandler(event);">
                                <option value="ALL">ALL</option>
                                {% for ddv in dropdown %}
                                  {% if ddv.column == "ASSETTYPE" %}
                                     <option value="{{ddv.value}}">{{ddv.value}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                <tr data-id="{{todo.id}}" id="group-{{todo.id}}" class="group-{{todo.id}}">
                    <td>{{todo.assignedTo}}</td>
                    <td>{{todo.todoStatus}}</td>
                    <td>{{todo.priority}}</td>
                    <td>{{todo.majorArea}}</td>
                    <td>{{todo.minorArea}}</td>
                    <td>{{todo.assetType}}</td>
                </tr>
                <tr data-id="{{todo.id}}" class="group-{{todo.id}} bottom-border">
                    <td colspan="5"><b>Title:</b> {{todo.title}}</td>
                     <td>
                         <!-- why is a full path and not a relative path required -->
                        <button class="btn-sm btn-primary btn-thin-sm btn-tight"
                                onclick="window.location.href='/todos/view-todo-page/{{todo.id}}'"
                                type="button">View</button>
                        &nbsp;
                        <button class="btn-sm btn-primary btn-thin-sm btn-tight"
                                onclick="window.location.href='/todos/edit-todo-page/{{todo.id}}'"
                                type="button">Edit</button>
                        &nbsp;
                        <button class="btn-sm btn-primary btn-thin-sm btn-tight"
                                onclick="window.location.href='/todos/add-todo-page/{{todo.assetId}}'"
                                type="button" >Add</button>

                    </td>
               </tr>
                {% endfor %}
                </tbody>
            </table>
             <script type="text/javascript">
                  function assignedToChangeEventHandler(event) {
                    if (getCookie("assignedToFilter") != event.target.value) {
                        document.cookie = `assignedToFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function todoStatusChangeEventHandler(event) {
                    if (getCookie("todoStatusFilter") != event.target.value) {
                        document.cookie = `todoStatusFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function priorityChangeEventHandler(event) {
                    if (getCookie("priorityFilter") != event.target.value) {
                        document.cookie = `priorityFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function majorChangeEventHandler(event) {
                    if (getCookie("majorAreaFilter") != event.target.value) {
                        document.cookie = `todoMajorAreaFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function minorChangeEventHandler(event) {
                    if (getCookie("minorAreaFilter") != event.target.value) {
                        document.cookie = `todoMinorAreaFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
                  function typeChangeEventHandler(event) {
                    if (getCookie("todoAssetTypeFilter") != event.target.value) {
                        document.cookie = `todoAssetTypeFilter=${event.target.value}; path=/`;
                        window.location.href=window.location.href;
                    }
                  }
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    // assignedTo
    filter = getCookie("assignedToFilter")
    select = document.querySelector(".assignedTo");
    options = document.querySelectorAll(".assignedTo option");
    if (filter) {
       for(const option of options) {
           const area = option.value;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    // todoStatus
    filter = getCookie("todoStatusFilter")
    select = document.querySelector(".todoStatus");
    options = document.querySelectorAll(".todoStatus option");
    if (filter) {
       for(const option of options) {
           const area = option.value;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    // priority
    filter = getCookie("priorityFilter")
    select = document.querySelector(".priority");
    options = document.querySelectorAll(".priority option");
    if (filter) {
       for(const option of options) {
           const area = option.value;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    // majorArea
    filter = getCookie("todoMajorAreaFilter")
    select = document.querySelector(".majorArea");
    options = document.querySelectorAll(".majorArea option");
    if (filter) {
       for(const option of options) {
           const area = option.value;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    //minorArea
    filter = getCookie("todoMinorAreaFilter")
    select = document.querySelector(".minorArea");
    options = document.querySelectorAll(".minorArea option");
    if (filter) {
       for(const option of options) {
           const area = option.value;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }
    //assetType
    filter = getCookie("todoAssetTypeFilter")
    select = document.querySelector(".assetType");
    options = document.querySelectorAll(".assetType option");
    if (filter) {
       for(const option of options) {
           const area = option.value;
           if (area === filter) {
              option.setAttribute("selected", "");
              break;
           }
       }
    }

    // Add hover effect for row groups
    document.querySelectorAll('tr').forEach(row => {
      row.addEventListener('mouseenter', () => {
        const groupClass = Array.from(row.classList).find(cls => cls.startsWith('group-'));
        if (groupClass) {
          document.querySelectorAll(`.${groupClass}`).forEach(groupRow => {
            groupRow.classList.add('hover-highlight');
          });
        }
      });

      row.addEventListener('mouseleave', () => {
        const groupClass = Array.from(row.classList).find(cls => cls.startsWith('group-'));
        if (groupClass) {
          document.querySelectorAll(`.${groupClass}`).forEach(groupRow => {
            groupRow.classList.remove('hover-highlight');
          });
        }
      });

    });

</script>

<!--
      const id = row.dataset.id;
      if (id) {
          row.addEventListener('click', () => {
            window.location.href = `view-todo-page/${id}`;
          });
      }

-->




