 <style>
    /* Optional: Style your section */
    #todoReport {
      background-color: #f9f9f9;
      padding: 20spx;
      border: 1px solid #ccc;
    }
    .pagetitle {
      font-size: medium;
      font-weight: bold;
    }
   .databutton {
     padding: 0px 3px; /* Custom padding for thinner appearance */
     margin: 0px 3px;
     font-size: x-small;
     background-color: #007bff;
     color: white;
  }

  </style>

 {% include 'layout.html' %}

<div class="container">
  <div class="card mt-2">
     <div class="card-header p-1">
        <h5 class="card-title card-title-left pagetitle">Todo Report</h5>
        <div class="col d-flex justify-content-end">
            <button id=printButton class="dataButton"
               onclick="printReport()" type="button">Print</button>
             &nbsp;&nbsp;
            <button class="dataButton"
                onclick=window.location.href='/todos/todo-page' type="button">Back</button>
        </div> <!--justify-->
    </div> <!--card-header -->
</div> <!--card-->

<div id=todoReport class="container">
  <div class="card border-dark border-3 pt-1 text-center">
        <h5 class="card-title d-flex justify-content-between mt-1 mb-0"><p id="reportFor"></p><div></div><p id="todaysDate"></p></h5></div?>
  </div>
  <div class="row g-1 pb-2 pt-1">
      <div class="col-sm-12">
        <textarea id=message  placeholder="Message" class="auto-grow form-control"></textarea>
      </div> <!--col-->
</div> <!--row-->

  <div class="row" id="card-list">
    {% for todo in todos %}
      <div class="col-md-12">
        <div class="card border-dark border-3 pb-2">
         <div class="card-body">
          <div class="row g-1 pt-1">
              <div class="col-sm-4">
                Major: {{todo.majorArea}}
              </div> <!--col-->
              <div class="col-sm-4">
                Minor {{todo.minorArea}}
              </div> <!--col-->
              <div class="col-sm-4">
                Type: {{todo.assetType}}
              </div> <!--col-->
           </div> <!--row-->
           <div class="row g-1 pt-1">
              <div class="col-sm-10">
                Description: {{todo.description}}
              </div> <!--col-->
           </div> <!--row-->
           <div class="row g-1 pt-1">
              <div class="col-sm-4">
                Model: {{todo.model}}
              </div> <!--col-->
              <div class="col-sm-4">
                State: {{todo.assetState}}
              </div> <!--col-->
           </div> <!--row-->
           <div class="row g-1 pt-1">
              <div class="col-sm-4">
                Satellite: {{todo.satellite}}
              </div> <!--col-->
              <div class="col-sm-4">
                Station: {{todo.station}}
              </div> <!--col-->
              <div class="col-sm-4">
                Distance: {{todo.distance}}
              </div> <!--col-->
           </div> <!--row-->
           <div class="row g-1 pt-1">
              <div class="col-sm-12">
                <hr style="border: 1px solid #333;  margin: 5px 0;">
              </div> <!--col-->
           </div> <!--row-->
          <div class="row g-1 pt-1">
              <div class="col-sm-8">
                <b>Task: {{ todo.task }}</b>
              </div> <!--col-->
              <div class="col-sm-3">
                <b>Status: {{ todo.todoStatus }}</b>
              </div> <!--col-->
           </div> <!--row-->
           <div class="row g-1 pt-1">
              <div class="col-sm-12">
                <hr style="border: 1px solid #333;  margin: 5px 0;">
              </div> <!--col-->
           </div> <!--row-->

           <div class="row g-1 pt-1">
              <div class="col-sm-4">
                Assigned To: {{todo.assignedTo}}
              </div> <!--col-->
              <div class="col-sm-4">
                Priority: {{todo.priority}}
              </div> <!--col-->
           </div> <!--row-->

           <div class="row g-1 pt-1">
              <div class="col-sm-2">
                Note:
              </div> <!--col-->
              <div class="col-sm-8">
                <textarea name="note" class="auto-grow form-control" readonly>{{todo.note}}</textarea>
              </div> <!--col-->
            </div> <!--row-->
            <div class="row g-1 pt-1">
                <div class="col-sm-5">
                    Created: {{todo.createdDate}} By: {{todo.createdBy}}
                </div>
                <div class="col-sm-3">
                    Updated: {{todo.updatedDate}} By: {{todo.updatedBy}}
                </div>
               </div> <!--col-->
            </div> <!--row-->
            <div class="row g-1 pt-1">
                <div class="col-sm-5">
                    <a onclick="removeCard(this)" class="icon-link">
                        <img src="/static/img/remove_icon.png" alt="Remove">
                    </a>
               </div> <!--col-->
            </div> <!--row-->
         </div> <!-- card-body -->
        </div> <!-- card -->
      </div> <!-- "col-md-12" -->
    {% endfor %}
  </div> <!-- card-list -->
</div> <!-- container -->

<script>
  function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
  }

  const today = new Date();
  const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
  const formattedDate = today.toLocaleDateString('en-US', options);
  document.getElementById("todaysDate").textContent = formattedDate;

  const reportFor = getCookie("assignedToFilter")
  if (reportFor && reportFor !== 'ALL')
       document.getElementById("reportFor").textContent = `${reportFor}: Todo Report`;
  else document.getElementById("reportFor").textContent = `Todo Report`;

  function removeCard(button) {
    // Remove the card by accessing its parent node (the card's col-sm-10 div)
    const card = button.closest('.col-md-12');
    card.remove();
  }

  function printReport() {

      // save the value of message
      let message = document.getElementById('message');
      const value = message.value;

      var printContent = document.getElementById('todoReport').innerHTML;
      var originalContent = document.body.innerHTML;
      document.body.innerHTML = printContent;  // Replace the content with the print section

      //push the save value of message to new instance of page
      message = document.getElementById('message');
      message.value = value;

      window.print();  // Trigger the print dialog

      document.body.innerHTML = originalContent;  // Restore the original content
      //push the save value of message to refreshed instance of page
      message = document.getElementById('message');
      message.value = value;
 }

const message = document.getElementById('message');
//Function to resize the textarea
function resizeTextarea() {
  message.style.height = 'auto';  // Reset height
  message.style.height = message.scrollHeight + 'px';  // Set height to scrollHeight
}

// Attach the resize function to the input event (as the user types)
message.addEventListener('input', resizeTextarea);

// Initial resize
resizeTextarea();


</script>



