{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
      View Todo
    </div>
    <div class="card-body">
      <form id="viewTodoForm">

      <div class="form-group">
          <input type="text" class="form-control" name="redirect" value="{{redirect}}" hidden>
          <input type="text" class="form-control" name="assetId" value="{{asset.id}}" hidden>
       </div>

        <div class="form-group">
          <label>Major Area</label>
          <input type="text" class="form-control" name="majorArea" value="{{asset.majorArea}}" readonly>
       </div>

        <div class="form-group">
          <label>Minor Area</label>
          <input type="text" class="form-control" name="minorArea" value="{{asset.minorArea}}" readonly>
        </div>

        <div class="form-group">
          <label>Micro Area</label>
          <input type="text" class="form-control" name="microArea" value="{{asset.microArea}}" readonly>
        </div>

        <div class="form-group">
          <label>Asset Type</label>
          <input type="text" class="form-control" name="assetType" value="{{asset.assetType}}" readonly>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" value="{{asset.description}}" readonly>
        </div>

      <div class="form-group">
          <label>Todo Id</label>
          <input type="text" class="form-control" name="id" value="{{todo.id}}" readonly>
       </div>

      <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="title" value="{{todo.title}}" readonly>
       </div>

       <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" value="{{todo.description}}" readonly>
       </div>

       <div class="form-group">
          <label>priority</label>
          <input type="text" class="form-control" name="priority" value="{{todo.priority}}" readonly>
       </div>

       <div class="form-group">
          <label>todoStatus</label>
          <input type="text" class="form-control" name="todoStatus" value="{{todo.todoStatus}}" readonly>
       </div>

       <div class="form-group">
          {% if currentUser.userRole == "Admin"%}
              <button type="submit" class="btn btn-primary">Delete</button>
          {% endif %}
          {% if redirect == "T"%}
               <a href="/todos/todo-page" class="btn btn-success">Back</a>
          {% else %}  <!- A  asset --!>
              <a href="/assets/view-asset-page/{{asset.id}}" class="btn btn-success">Back</a>
          {% endif %}
       </div>

      </form>
    </div>
  </div>
</div>

