{% include 'layout.html' %}

<style>
 .container {
    text-align: left;
 }

  .view-header {
    width: 100%;
    background-color:  rgb(255, 99, 71); /* Tomato color */
    color: black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 3px;
  }

  .view-footer {
    width: 100%;
    background-color:  rgb(255, 99, 71); /* Tomato color */
    color: black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 3px;
  }

  .view-content {
    min-width: 375px; /* Minimum width */
    mac-width: 100%;  /* Width will scale to 100% of the parent element */
    background-color: #d9dee0;  /* light gray */
    padding: 2px 14px 2px;  /* top, left/right, bottom */
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
  .view-detail content {
    min-width: 375px; /* Minimum width */
    width: 100%;      /* Width will scale to 100% of the parent element */
    border: 4px solid black; /*Border color and thickness */
    background-color: #d9dee0;  /* light gray */
    padding: 2px 14px 2px;  /* top, left/right, bottom */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }

  .dataheader-right {
    font-size: small;
    text-align: right;
    padding-right: 1px;
  }

  .addupdatedate-left {
    font-size: x-small;
    text-align: left;
    padding-top: 1px;
  }

  .addupdatedate-right {
    font-size: x-small;
    text-align: left;
    padding-top: 1px;
  }

  .dataheader-left {
    font-size: small;
    text-align: left;
    padding-right: 1px;
  }

  .datafield {
    border: 2px solid black; /* Border color and thickness */
    border-radius: 1px;
    margin: 3px;              /* Margin outside the border */
    padding-left: 2px;
    font-size: small
  }

  .datatextarea {
    border: 2px solid black; /* Border color and thickness */
    border-radius: 1px;
    margin: 3px;              /* Margin outside the border */
    padding-left: 2px;
    font-size: small
  }

  .databutton {
    padding: 0px 3px; /* Custom padding for thinner appearance */
    margin: 0px 10px; /* space around the buttom */
    font-size: x-small;
    background-color: #007bff;
    color: white;
  }
</style>

<form id="viewTodoForm">
   <div class="form-group">
      <input type="text" class="form-control" name="redirect" value="{{redirect}}" hidden>
      <input type="text" class="form-control" name="mode" value="{{mode}}" hidden>
      <input type="text" class="form-control" name="todo_id" value="{{todo_id}}" hidden>
      <input type="text" class="form-control" name="assetId" value="{{asset.id}}" hidden>
   </div>

  <div class="view-header">
     <div class="row mx-0 pb-1 gx-0">
       <div class="col pagetitle d-flex justify-content-start">Todo</div>
     </div> <!--row-->
  </div> <!-- view-header -->

<div id=todoTicket class="container">
  <div class="view-content">
       <div class="row">
          <div class="col dataheader-left">AssignedTo</div>
          <div class="col dataheader-left">Priority</div>
          <div class="col dataheader-left">Status</div>
        </div>
        <div class="row">
          <div class="col datafield">{{todo.assignedTo}}</div>
          <div class="col datafield">{{todo.priority}}</div>
          <div class="col datafield">{{todo.todoStatus}}</div>
        </div>

        <div class="row">
          <div class="col col-2 text-end dataheader-right">Task:</div>
          <div class="col datafield">{{todo.task}}</div>
        </div>

        <div class="row">
          <div class="col col-2 text-end dataheader-right">Note:</div>
          <div class="col datafield">{{todo.note}}</div>
        </div>

        <div class="row pt-1">
             <div class="col addupdatedate-left">
               <b>Created: </b>{{todo.createdDate}}<b> By: </b>{{todo.createdBy}}
            </div>
             <div class="col addupdatedate-right">
               <b>Updated: </b>{{todo.updatedDate}}<b> By: </b>{{todo.updatedBy}}
            </div>
         </div>

        <div style="border-top: 4px solid black; width: 98%; margin-top: 7px;"></div>

        <div class="row pt-2">
          <div class="col dataheader-left">Major</div>
          <div class="col dataheader-left">Minor</div>
          <div class="col dataheader-left">Type</div>
        </div>

        <div class="row">
          <div class="col datafield">{{asset.majorArea}}</div>
          <div class="col datafield">{{asset.minorArea}}</div>
          <div class="col datafield">{{asset.assetType}}</div>
        </div>

        <div class="row">
          <div class="col col-2 text-end dataheader-right">Asset:</div>
          <div class="col datafield">{{asset.description}}</div>
        </div>

        <div class="row">
          <div class="col-2 dataheader-right">Model:</div>
          <div class="col-3 datafield">{{asset.model}}</div>
          <div class="col-2 dataheader-right">State:</div>
          <div class="col-3 datafield">{{asset.assetState}}</div>
        </div>

        <div class="row">
          <div class="col-2 dataheader-right">Satillite:</div>
          <div class="col-3 datafield">{{asset.satellite}}</div>
          <div class="col-2 dataheader-right">Station:</div>
          <div class="col-3 datafield">{{asset.station}}</div>
        </div>

        <div class="row">
          <div class="col-2 dataheader-right">Lat::</div>
          <div class="col-3 datafield">{{ asset.gpsLat }}</div>
          <div class="col-2 dataheader-right">Lng:</div>
          <div class="col-3 datafield">{{asset.gpsLng}}</div>
        </div>

        <div class="row">
          <div class="col-2 dataheader-right">Distance:</div>
          <div class="col-3 datafield">{{ asset.distance }}</div>
        </div>

        <div class="row pt-1">
             <div class="col addupdatedate-left">
               <b>Created: </b>{{

                 asset.createdDate}}<b> By: </b>{{asset.createdBy}}
            </div>
             <div class="col addupdatedate-right">
               <b>Updated: </b>{{asset.updatedDate}}<b> By: </b>{{asset.updatedBy}}
            </div>
         </div>


  </div> <!-- view-content -->
</div> <!-- todoTicket -->

  <!-- navigation buttons -->
  <div class="view-footer">
   <div class="row mx-0 pb-1 gx-0">
      <div class="col d-flex justify-content-end">
        {% if currentUser.userRole == 'ADMIN' %}
          <button class="databutton" id="delete" type="submit">Delete</button>
        {% endif %}
        {% if redirect == "T"%}
          <button class="databutton" id="back" type="button"
                onclick=window.location.href='/todos/todo-list/{{todo_id}}'>Back</button>
        {% else %}  <!- assume A  -->
          <button class="databutton" id="back" type="button"
                 onclick=window.location.href='/assets/view-asset-page/{{asset.id}}'>Back</button>
          {% endif %}
        <button class="databutton" id="print" type="button"
             onclick="printTodo()">Print</button>
      </div>
   </div> <!--row-->
  </div> <!-- view-footer -->

</form>

<script>
function printTodo() {

      var printContent = document.getElementById('todoTicket').innerHTML;
      var originalContent = document.body.innerHTML;
      document.body.innerHTML = printContent;  // Replace the content with the print section

      window.print();  // Trigger the print dialog

      document.body.innerHTML = originalContent;  // Restore the original content
 }
</script>

