{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
      View Asset
    </div>
    <div class="card-body">
      <form id="viewAssetForm">

       <div class="form-group">
          <label>Id</label>
          <input type="text" class="form-control" name="id" value="{{asset.id}}" readonly>
        </div>

       <div class="form-group">
          <label>Major Area</label>
          <input type="text" class="form-control" name="majorArea" value="{{asset.majorArea}}" readonly>
        </div>

        <div class="form-group">
          <label>Minor Area</label>
          <input type="text" class="form-control" name="minorArea" value="{{asset.minorArea}}" readonly>
        </div>

        <div class="form-group">
          <label>Micro Area</label>
          <input type="text" class="form-control" name="microArea" value="{{asset.microArea}}" readonly>
        </div>

        <div class="form-group">
          <label>Asset Type</label>
          <input type="text" class="form-control" name="assetType" value="{{asset.assetType}}" readonly>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" value="{{asset.description}}" readonly>
        </div>

        <div class="form-group">
          <label>Asset State</label>
          <input type="text" class="form-control" name="assetState" value="{{asset.assetState}}" readonly>
        </div>

        {% if currentUser.userRole == 'Admin' %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Delete</button>
                 <a href="/assets/asset-page" class="btn btn-success">Back</a>
           </div>
       {% endif %}

      </form>
      <div class="todos-list">
            <h5 class="card-title">
                Todo List
            </h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for todo in todo_list %}
                    <tr class="pointer">
                        <td>{{todo.id}}</td>
                        <td>{{todo.todoStatus}}</td>
                        <td>{{todo.priority}}</td>
                        <td>{{todo.title}}</td>
                        <td>
                            <button onclick="window.location.href='/todos/view-todo-asset-page/{{todo.id}}'"
                                    type="button" class="btn btn-info">View</button>
                            &nbsp;
                            <button onclick="window.location.href='/todos/edit-todo-asset-page/{{todo.id}}'"
                                    type="button" class="btn btn-info">Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>

      <div class="todos-actions">
             <button onclick="window.location.href='/todos/add-todo-asset-page/{{asset.id}}'"
                     type="button" class="btn btn-info">Add</button>
      </div>

    </div>
  </div>
</div>

<script>
function deleteConfirmation() {
   rc = confirm("Are you sure?")
   if (rc) {
        confirm("Deleted")
    }
}
</script>
