{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
        <h5 class="card-title card-title-left">Asset</h5>
    </div>
    <div class="card-body">
        <form id="viewAssetForm">

           <div class="row g-5 pt-0">
                <div class="col-sm-3">
                    <label for="majorArea"
                        class="form-label-sm">Major Area</label>
                    <input id=majorArea name="majorArea" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Major Area" value="{{asset.majorArea}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="minorArea"
                        class="form-label-sm">Minor Area</label>
                    <input id=minorArea name="MinorArea" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.minorArea}}" readonly>
                </div>

                <div class="col-sm-3">
                    <label for="assetType"
                        class="form-label-sm">Asset Type</label>
                    <input id=assetType name="assetType" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Asset Type" value="{{asset.assetType}}" readonly>
                </div>

            </div> <!--row-->

            <div class="row g-3 pt-2">
                <div class="col-sm-8">
                    <label for="description" class="form-label-sm">Description</label>
                    <input id=description name="description" type="text"
                            style="min-width: 300px; max-width: 400px;" class="form-control-sm"
                            placeholder="Asset Description" value="{{asset.description}}" readonly>
                </div>
            </div> <!--row-->

            <div class="row g-3 pt-2 pb-2">
                <div class="col-sm-10">
                    <label for="model" class="form-label-sm">Model</label>
                    <input id="model" name="model" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Model" value="{{asset.model}}" readonly>

                    <label for="assetState" class="form-label-sm">State</label>
                    <input id="assetState" name="assetState" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Asset State" value="{{asset.assetState}}" readonly>
                </div>

            </div> <!--row-->

            <div class="row g-3 pt-2 pb-2">
                <div class="col-sm-10">
                    <label for="satellite" class="form-label-sm">Statelitte</label>
                    <input id="satellite" name="Satellite" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Satellite" value="{{asset.satellite}}" readonly>

                    <label for="station" class="form-label-sm">Station</label>
                    <input id="station" name="station" type="text"
                            style="min-width: 100px; max-width: 150px;" class="form-control-sm"
                            placeholder="Station" value="{{asset.station}}" readonly>
                </div>

            </div> <!--row-->

            <div class="card-header">
                <h5 class="card-title card-title-left">Asset Todo List</h5>
            </div>

            <div class="row g-3 pt-0">
                <div class="col-sm-10">
                    <div class="todos-list">
                        <table class="table-sm table-hover table-striped">
                            <thead class="padding: 1px;">
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Title</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for todo in todo_list %}
                                <tr class="pointer">
                                    <td>{{todo.todoStatus}}</td>
                                    <td>{{todo.priority}}</td>
                                    <td class="td200">{{todo.title}}</td>
                                    <td>
                                            <button class="btn-sm btn-primary btn-thin-sm"
                                                    onclick="window.location.href='/todos/view-todo-asset-page/{{todo.id}}'"
                                                    type="button">View</button>
                                            <button class="btn-sm btn-primary btn-thin-sm"
                                                    onclick="window.location.href='/todos/edit-todo-asset-page/{{todo.id}}'"
                                                    type="button">Edit</button>
                                     </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div> <!-- todo_list -->
                </div> <!-- col -->
            </div> <!-- row -->

            <div class="row g-3 pt-2">
             <div class="col-sm-10">
                     <div class="todos-actions">
                        {% if currentUser.userRole == 'Admin' %}
                            <button id="submitBtn" type="submit" class="btn-sm btn-primary btn-thin-sm">DELETE Asset</button>
                         {% endif %}
                            <button onclick="window.location.href='/todos/add-todo-asset-page/{{asset.id}}'"
                               type="button" class="btn-sm btn-primary btn-thin-sm">Add a NEW Todo</button>
                            <button onclick="window.location.href='/assets/asset-page'"
                               type="button" class="btn-sm btn-primary btn-thin-sm">Back</button>
                </div>
             </div> <!-- col -->
            </div> <!-- row -->
      </form>
    </div> <!-- card body -->
  </div> <!-- card -->
</div> <!-- container -->
