/* ----------------------------------------------- */
/* overrides */

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('Sprinklers.jpg');
    background-size: cover;         /* Makes the image cover the entire viewport */
    background-position: center;    /* Centers the image */
    background-attachment: fixed;   /* Keeps the background fixed while scrolling */
    height: 100vh;                  /* Ensures the body takes the full height of the viewport */
    margin: 0;                      /* Ensures no margin is around the body */
    padding-top: 30px;              /* Adjust the value based on the navbar height */
/*
  background: #fafafa;
  color: #33333a;
  padding-top: 70px;
*/
}

.navbar {
  font-size: small;
}

.navbar-brand {
  font-size: medium;
  font-weight: bold; /* Make the brand name bold */
  color: #ff6347; /* Tomato color */
}

.navbar-brand:hover {
  color: #ff4500; /* Change color when hovered */
}

.card-title-left {
      text-align: left;
}

.card {
  background: #f0f0f0;
  padding: 5px;
  margin-bottom: 10px; /* Adds space between vertically stacked cards */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.auto-grow {
  width: 100%;
  min-height: 50px; /* Minimum height */
  padding: 2px;
  font-size: 14px;
  overflow: hidden; /* Hide overflow initially */
  resize: none; /* Disable manual resizing */
}

.btn-thin-sm {
      padding: 0px 0px; /* Custom padding for thinner appearance */
}

.btn-tight {
  margin-right: -5px; /* Pull the buttons closer together */
}

.td150 {
      min-width: 150px; /* Set minimum width for all td elements */
}

.td200 {
      min-width: 200px; /* Set minimum width for all td elements */
}

th {
    text-align: left;
}

td {
    text-align: left;
}

table tr.hover-highlight td {
      background-color: #8acf8a;
}

table tr.bottom-border td {
      border-bottom: 3px solid black;
}

table tr.bottom-border th {
      border-bottom: 3px solid black;
}

.card-body {
   padding: 1px 5px; /* Adjust the values to reduce or customize padding */
}

.container { /* override and default container padding */
  padding-left: 0;
  padding-right: 0;
}

.card-header {
   padding: 0px 10px; /* Adjust the values to reduce or customize padding  tb/lr*/
  background-color: rgb(255, 99, 71); /* Tomato color */
  color: white;
}

.card {
  background-color: #d9dee0;
}

.table thead th {
  border-bottom: 2px solid #323a3d
}

.table tbody th {
  border-bottom: 2px solid #323a3d
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.label-right {
  line-height: 1.5;
}

input[readonly] {
  background-color:#f0f0f0; /* Light gray background */
  color:  #6c757d;           /* Dimmed text color */
  border: 1px solid #ccc;   /* Optional: Gray border */
  pointer-events: none;     /* Prevent interaction (optional) */
}

.icon-link img {
  width: 25px; /* Set the size of the icon */
  height: 25px; /* Set the size of the icon */
  transition: transform 0.3s; /* Add a smooth hover effect */
}

.icon-link:hover img {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}


textarea {
      width: 100%;
      height: 1.5em;  /* Set height equal to a single line of text */
      overflow-y: hidden;
      padding: 10px;
      font-size: 14px;
      resize: vertical;
 }

/* ----------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

.main-color {
  background-color: #0e76a8 ;
}

.strike-through-td {
    text-decoration: line-through;
}

